@charset "UTF-8";
/*gamaFinal*/
/*gama1*/
/*gama2*/
/*gama3*/
/*gama4 */
/*Método que en función del color base de la página asigna el color a la letra y a los fondos 2 y 3*/
/*Marcamos el color base de la pagina*/
/*Asignacion de colores en funcion al color base*/
* {
  padding: 0px;
  margin: 0px;
  font-family: century-gothic, sans-serif;
  font-size: 20px;
}

body {
  background-color: #efd7bb !important;
  color: #905733;
}

.container {
  width: 100%;
  max-width: 1200px !important;
  overflow: hidden;
}

#cont-index {
  max-width: 1600px !important;
}

#caja {
  text-align: center;
}

/*Retirable*/
.img {
  height: 40ex;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
}

#mapa {
  height: 60ex;
  width: 100%;
}

.modal-dialog {
  max-width: 1200px;
}

#mediciones_playa i {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
}

#mediciones_playa > div {
  line-height: 80px;
}

#mediciones_playa a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cabecera {
  width: 100%;
  background-color: #a2b4ba;
  padding: 2%;
}

.boton-accesibilidad {
  height: 58px;
  width: 70px;
  margin-top: 35px;
}

.restringido {
  cursor: pointer;
}

.accesibilidad {
  background: rgba(33, 37, 41, 0.6);
  width: 500px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  padding: 2%;
}

.acceso_restringido.mostrar {
  right: 0px;
}

.acceso_restringido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  right: -500px;
  top: 0px;
  width: 570px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3;
}

.restringido i {
  font-size: 30px;
  top: 35px;
}

footer {
  bottom: 0px;
  background-color: #a2b4ba;
}

footer > p {
  margin: 0%;
  text-align: end;
  margin-right: 30px;
}

footer > p > a {
  text-decoration: none;
  color: black;
}

#lista_playas {
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 48px;
  --spacing-xl: 64px;
  --spacing-xxl: 128px;
  --width-container: 1200px;
}

.hero-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (20fr)[2];
        grid-template-rows: repeat(2, 20fr);
  }
}

.card {
  list-style: none;
  position: relative;
  width: 100%;
  height: 25vh;
  background: transparent !important;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  -webkit-filter: brightness(0.75) saturate(1.2) contrast(0.85);
          filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-filter 200ms linear, -webkit-transform 200ms linear;
  transition: -webkit-filter 200ms linear, -webkit-transform 200ms linear;
  transition: filter 200ms linear, transform 200ms linear;
  transition: filter 200ms linear, transform 200ms linear, -webkit-filter 200ms linear, -webkit-transform 200ms linear;
}

.card:hover .card__background {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  -webkit-filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
          filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 20px #d4d4d4;
          box-shadow: 0px 0px 20px #d4d4d4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: easy;
          transition-timing-function: easy;
}

.main-menu:hover {
  width: 270px;
  overflow-y: scroll;
}

.main-menu .menu-item {
  padding: 10px;
}

.main-menu .gestion > ul {
  display: none;
  padding-left: 60px;
}

.main-menu .gestion:hover > ul {
  display: block;
}

.main-menu li:hover > a {
  color: #3871c6ff;
}

.main-menu .menu-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .menu-item .fas {
  font-size: 25px;
  width: 45px;
  margin-right: 10px;
  padding: 10px;
  color: gray;
}

.main-menu .menu-item:hover > a > .fas {
  color: #3871c6ff;
}

.main-menu section#home {
  background-color: #f3f3f3;
}

.main-menu .final {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.main-menu a {
  text-decoration: none;
  color: gray;
}

.main-menu li {
  list-style: none;
}

.main-menu ul {
  padding: 0%;
  margin: 0%;
}
/*# sourceMappingURL=general.css.map */